/*------------------------------
=SEARCH AREA
------------------------------*/
#search {
    float: left;
    margin-top: 10px;
}

#searchForm span {
    display: inline-block;
}

    #searchForm span label {
        text-align: left;
        float: left;
        width: 101px;
        padding-right: 5px;
    }

    #searchForm span input {
        text-align: left;
        float: left;
        width: 200px;
        margin-right: 10px;
    }

        #searchForm span input[type="date"] {
            border-width: 1px;
        }

#searchForm input[type="email"]:valid {
    background-image: url(../images/valid.png);
    background-position: right top;
    background-repeat: no-repeat;
}

#searchForm input[type="email"]:invalid,
#searchForm input[type="email"]:focus:invalid {
    background-image: url(../images/invalid.png);
    background-position: right top;
    background-repeat: no-repeat;
}